<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <div class="row">
      <div class="col-6 offset-3 jumbotron">
        <div class="alert alert-success" role="alert">
          <h1 class="text-center"> Información de cuentas</h1>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">IBAN</th>
              <th scope="col" class="text-center"><i class="fas fa-hand-holding-usd"></i></th>
              <th scope="col" class="text-center"><i class="fas fa-eye"></i></th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{accounts}}">
              <tr>
                <td class="text-center"><i class="fas fa-bookmark"></i></td>
                <td>{{item.IBAN}}</td>
                <td class="text-center">{{item.Balance}}</td>
                <td class="text-center"><a class="fas fa-list-ul"></a></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

      <!-- <div>Cuenta: {{item.IBAN}} con balance {{item.Balance}}</div> -->

    <!-- <h2>Numero de cuenta [[IBAN]]</h2>
    <h3>Saldo: [[Balance]]</h3> -->

    <iron-ajax id="getAccount" auto url="http://localhost:3000/apitechu/v2/accounts/{{id}}" handle-as="json" on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          accounts : {
            type : Array
          }
        };
      }
      showData(data){

        console.log(data.detail.response);
        // this.IBAN = accounts[0].IBAN;
        // this.Balance = accounts[0].Balance;
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
