<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <div hidden$="{{isHidden}}">
      <h2>Curso : {{course}}</h2>
      <h3>Año  {{year}}</h3>
      <input type="text" value="{{course::input}}"></input>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course: {
            type: String,
            observer: '_courseChanged'
          },
          year: {
            type: Number
          },
          isHidden : {
            type: Boolean,
            value: true
          }
        };
      }
      _courseChanged(newValue, oldValue) {
       console.log("Course value has changed");
       console.log("Old value was " + oldValue);
       console.log("New value is " + newValue);
       this.isHidden = false;
     }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
