<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi mail es  [[email]]</h3>

    <iron-ajax id="getUser" auto url="http://localhost:3000/apitechu/v2/users/{{id}}" handle-as="json" on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }
      showData(data){

        console.log(data.detail.response);
        var user = data.detail.response;
        this.first_name = user.first_name;
        this.last_name = user.last_name;
        this.email = user.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
