<!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Yo soy tu padre</h2>
   <emisor-evento id="miEmisor" on-myevent="processEvent"></emisor-evento>
   <receptor-evento id="miReceptor"></receptor-evento>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorEvento extends Polymer.Element {
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
         isHidden:{
           type: Boolean,
           value: false
         }
       };
     }
     processEvent(e){
       console.log("Capturado evento del emisor");
       console.log(e.detail);
       this.$.miReceptor.year = e.detail.year;
       this.$.miReceptor.course = e.detail.course;       
       this.$.miEmisor.isHidden = true;
     }
   }
   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
